<h1 style="color:blue;" >
    {{titulo}}
</h1>

<hr/>
<h3>Selector de colores: </h3>
<button (click)="logColorSeleccionado()">Mostrar Log</button>
<input type="text" [(ngModel)]="color_seleccionado" />
<pre 
    [style.border]="color_seleccionado=='red' ? '5px solid black': '1px solid white'"
    [ngClass]="{
                fondoAzul: color_seleccionado =='blue',
                fondoVerde: color_seleccionado=='green'
                 }"
>
    <strong>Color elegido</strong>
    {{color_seleccionado}}
</pre>
<div [ngStyle]="{
                'background':color_seleccionado,
                'width':'200px',
                'height':'200px',
                'float':'right',
                'margin-right':'68%'
}"> </div>
<div style="clear:both"></div>




<hr/>
    <h3>Colores switch</h3>
    <ul [ngSwitch]="color">
        <li *ngSwitchCase="'red'" [ngStyle]="{'background':color, 'padding':'20px', 'color':'white' }">
            Es de color ROJO
        </li>
        <li *ngSwitchCase="'green'" [ngStyle]="{'background':color, 'padding':'20px', 'color':'white' }">
                Es de color VERDE
        </li>
        <li *ngSwitchCase="'blue'" [ngStyle]="{'background':color, 'padding':'20px', 'color':'white' }">
                Es de color AZUL
        </li>
    </ul>

<hr/>

<strong>Empleado estrella:</strong>
<br/>
<br/>


<div *ngIf="trabajador_externo == true">
    <button (click)="cambiarExterno(false)">Mostrar empleado</button>
    <ul>
    <li>{{trabajadores[0].nombre}}</li>
    <li>{{trabajadores[0].edad}}</li>
    <li>{{trabajadores[0].cargo}}</li>
    <li *ngIf="trabajadores[0].contratado==true">Esta contratado</li>
    <li *ngIf="trabajadores[0].contratado==false">No Esta contratado</li>
    </ul>
</div>

<div *ngIf="trabajador_externo == false">
    <button (click)="cambiarExterno(true)">Mostrar trabajador</button>
    <ul>
    <li>{{empleado.nombre}}</li>
    <li>{{empleado.edad}}</li>
    <li>{{empleado.cargo}}</li>
    <li *ngIf="empleado.contratado==true">Esta contratado</li>
    <li *ngIf="empleado.contratado==false">No Esta contratado</li>
    </ul>
</div>

<h3>Listado de empleados</h3>
<ul>
    <li *ngFor="let empleado of trabajadores; let i = index">
        <strong>Empleado {{i+1}}:</strong>
    <ul>
        <li>{{empleado.nombre}}</li>
        <li>{{empleado.edad}}</li>
        <li>{{empleado.cargo}}</li>
        <li *ngIf="empleado.contratado==true">Esta contratado</li>
        <li *ngIf="empleado.contratado==false">No Esta contratado</li>
    </ul>
</li>
</ul>